@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

html {
  font-size: 62%;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", sans-serif;
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/007/865/609/original/arttu-tuovinen-tunnel-loop-min.gif?1509013233");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #000;
  color: #fff;
  position: fixed;
  justify-content: space-around;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  margin: 0;
}

/* MODAL */
.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00030a;
  border: 2px solid #eee;
  border-radius: 5px;
  z-index: 10;
}

.modal-header {
  margin: 0px;
  font-size: 24px;
  text-align: center;
  padding-top: 4rem;
  left: 50%;
}

.modal-text {
  margin: 0px;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  padding: 3rem;
  left: 50%;
}

.trophies {
  position: absolute;
  text-align: center;
  font-size: 30px;
  padding: 2rem;
  margin-top: 65rem;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1px);
  z-index: 5;
}

.btn {
  font: inherit;
  font-size: 14px;
  padding: 1rem;
  margin-bottom: 3rem;
  cursor: pointer;
  border-color: #eee;
  border-radius: 5px;
  background: #fff;
  color: #0a0000;
}

.btn:hover {
  background: #ffffffdd;
}

/* ELEMENTS STYLE */
h1 {
  margin-top: 7%;
  margin-bottom: 0;
  font-size: 5rem;
}

.small-message {
  margin-top: -3rem;
  margin-bottom: 4rem;
  font-size: 2rem;
}

.number {
  color: #000;
  font-size: 5rem;
  padding-bottom: 0.5rem;
}

.guess {
  background: none;
  border: 2px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 15rem;
  text-align: center;
  display: block;
  margin-bottom: 10rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
